 <section class="faq">
    <div class="container">
        <div class="faq__content">
            <div class="faq__info">
                <h2>Відповіді на часті питання</h2>
                <p class="h6">Тут ви знайдете відповіді на найпоширеніші питання про PriceRadar</p>
                <p class="faq__subtitle h5">Підтримка 24/7</p>
                <p class="support-text h6">Якщо у вас виникнуть проблеми або питання під час користування сервісом, ви завжди можете звернутись у нашу технічну підтрімку</p>
            </div>
            <ul class="faq__list">
                <li class="faq__list-item h5">
                    Як працює сервіс і що він робить?
                    <p class="faq__list-item__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam debitis quam deserunt vitae totam voluptate neque, unde quod corrupti, animi tempora similique officiis veniam ex facilis aliquid doloribus sit quos?</p>
                </li>
                <li class="faq__list-item h5">
                    Як працює сервіс і що він робить?
                    <p class="faq__list-item__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam debitis quam deserunt vitae totam voluptate neque, unde quod corrupti, animi tempora similique officiis veniam ex facilis aliquid doloribus sit quos?</p>
                </li>
                <li class="faq__list-item h5">
                    Як працює сервіс і що він робить?
                    <p class="faq__list-item__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam debitis quam deserunt vitae totam voluptate neque, unde quod corrupti, animi tempora similique officiis veniam ex facilis aliquid doloribus sit quos?</p>
                </li>
            </ul>
        </div>
    </div>
 </section>