<div class="feedback">
    <div class="container">
        <div class="feedback__content">
            <form action="#" method="post" class="feedback__form">
                <h3 class="feedback__title">Форма зворотнього зв’язку</h3>
                <p class="feedback__text">Залиште ваші данні, якщо у вас лішились питання та наш менеджер зв’яжеться з вами найближчим часом</p>
                <div class="feedback__form-group feedback__form-group_top">
                    <input type="text" placeholder="Ваше ім’я" class="h6">
                    <input type="tel" placeholder="Номер телефону" class="h6">
                </div>
                <div class="feedback__form-group feedback__form-group_bottom">
                    <input type="email" placeholder="Ваш Email" class="h6">
                    <div class="feedback__subscribe">
                        <div class="feedback__subscribe-checkbox">
                            <input type="checkbox" name="" id="" class="default-checkbox">
                            <span></span>
                        </div>
                        <div class="feedback__subscribe-text text-small">Хочу отримувати сповіщення про новини на акції </div>
                    </div>
                    <a href="#" class="button button_fill">Надіслати</a>
                </div>
            </form>
        </div>
    </div>
</div>