<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__top">
                <div class="footer__column">
                    <a href="#" class="logo footer__logo">
                        <img src="images/logo.svg" alt="logo">
                    </a>
                    <h6>Сервіс моніторингу цін, який автоматично відстежує ціни конкурентів на будь-якому сайті.</h6>
                </div>
                <div class="footer__column">
                    <ul class="footer__list">
                        <li class="footer__item">
                           <a href="#" class="footer__link">Як працює PriceRadar</a>
                        </li>
                        <li class="footer__item">
                           <a href="#" class="footer__link">Кому підходить</a>
                        </li>
                        <li class="footer__item">
                           <a href="#" class="footer__link">Можливості сервісу</a>
                        </li>
                        <li class="footer__item">
                           <a href="#" class="footer__link">Відгуки та кейси клієнтів</a>
                        </li>
                        <li class="footer__item">
                           <a href="#" class="footer__link">Найчастіші запитання</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__column footer__column_m">
                    <ul class="footer__list">
                        <li class="footer__item">
                           <a href="#" class="footer__link">Договір оферти</a>
                        </li>
                        <li class="footer__item">
                           <a href="#" class="footer__link">Політика конфіденційності</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__column footer__column_contacts">
                    <h5>Ми у соціальних мережах</h5>
                    <ul class="social">
                        <li class="social__item">
                            <a href="#" class="social__link">
                                <img src="images/facebook.svg" alt="facebook">
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link">
                                <img src="images/linkedin.svg" alt="linkedin">
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link">
                                <img src="images/telegram.svg" alt="telegram">
                            </a>
                        </li>
                    </ul>
                    <a href="tel:+380502241829" class="footer__contact">+38 050 224 18 29</a>
                    <a href="mailto:priceradar@example.com" class="footer__contact">priceradar@example.com</a>
                </div>
            </div>
            
        </div>
    </div>
    <h5 class="footer__bottom">Розроблено в Maxopen</h5>
</footer>