<section class="help">
    <div class="container">
        <div class="help__content">
            <h2>PriceRadar допоможе вам</h2>
            <ul class="help__grid">
                <li class="help__grid-item">
                    <img src="images/setting.svg" alt="">
                    <div class="help__grid-group">
                        <h3>Автоматично встановлювати найвигіднішу ціну серед конкурентів</h3>
                        <div class="h6">Наша система автоматично аналізує ціни конкурентів і попит на ринку, встановлюючи на ваші товари найвигіднішу ціну.
                        Ви можете самостійно налаштувати автоматичне оновлення цін для ваших товарів, тому вам не доведеться вручну відстежувати ціни конкурентів і встановлювати ціни на свої товари.</div>
                    </div>
                </li>
                <li class="help__grid-item">
                    <img src="images/planet.svg" alt="">
                    <div class="help__grid-group">
                        <h3>Швидко реагувати на зміни цін на ринку</h3>
                        <div class="h6">Завдяки моніторингу цін конкурентів ви можете зберігати свою цінову політику актуальною</div>
                    </div>
                </li>
                <li class="help__grid-item">
                    <img src="images/notif.svg" alt="">
                    <div class="help__grid-group">
                        <h3>Отримувати миттєві сповіщення про зміни цін</h3>
                        <div class="h6">Отримуйте миттєві сповіщення про зміну цін на вашу електронну пошту, Telegram або Viber</div>
                    </div>
                </li>
                <li class="help__grid-item">
                    <img src="images/hum.svg" alt="">
                    <div class="help__grid-group">
                        <h3>Порівнювати ціни з вашими конкурентами</h3>
                        <div class="h6">Моніторинг цін конкурентів - це необхідний інструмент для будь-якого бізнесу, який хоче залишатися конкурентоспроможним</div>
                    </div>
                </li>
                <li class="help__grid-item">
                    <img src="images/hum2.svg" alt="">
                    <div class="help__grid-group">
                        <h3>Зручно та просто слідкувати за цінами</h3>
                        <div class="h6">Наш сервіс простий у використанні та не потребує спеціальних знань. Ви можете легко налаштувати моніторинг цін та отримувати дані в зручному для вас форматі</div>
                    </div>
                </li>
                <li class="help__grid-item">
                    <img src="images/dollar.svg" alt="">
                    <div class="help__grid-group">
                        <h3>Отримати аналіз ринку за доступною ціною</h3>
                        <div class="h6">Ми пропонуємо доступні тарифи, які підходять для бізнесу будь-якого розміру. Ви можете ознайомитися з нашими тарифами на сайті або зв'язатися з нами для отримання консультації.</div>
                    </div>
                </li>
                <li class="help__grid-item">
                    <img src="images/shield.svg" alt="">
                    <div class="help__grid-group">
                        <h3>Безпечно перевіряти ціни на ринку </h3>
                        <div class="h6">Ми гарантуємо безпеку ваших даних. А також використовуємо сучасні методи захисту інформації та не передаємо ваші дані третім особам.</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>