<section class="howToUse">
    <div class="container">
        <h2>Як користуватись PriceRadar?</h2>
    </div>
    <div class="container">
        <div class="howToUse__content">
            <div class="howToUse__image">
                <img src="images/use_img.png" alt="">
            </div>
            <div class="howToUse__info">
                <ul class="howToUse__list">
                    <li class="howToUse__list-item">
                        <div class="howToUse__list-item__group">
                            <h3>Додайте свій товар</h3>
                            <div class="h6">Додайте посилання на ваш товар, ціни на який хочете дізнатися, оберіть або створіть категорію для товара. Також налаштуйте автоматичну зміну ціни.</div>
                        </div>
                    </li>
                    <li class="howToUse__list-item">
                        <div class="howToUse__list-item__group">
                            <h3>Додайте товар конкурента</h3>
                            <div class="h6">Додайте посилання на товар конкурента, який хочете повірняти, або застосуйте автоматичний підбір </div>
                        </div>
                    </li>
                    <li class="howToUse__list-item">
                        <div class="howToUse__list-item__group">
                            <h3>Налаштуйте зручний час для отримання повідомлень про зміну ціни</h3>
                            <div class="h6">Оберіть необхідні дні тижня та зручний час, та месенджер для отримання повідомлень Telegram чи Viber</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="howItWork">
            <img src="images/gears.png" alt="">
            <div class="howItWork__info">
                <div class="howItWork__title">Як працює PriceRadar?</div>
                <div class="howItWork__desc">PriceRadar - це поєднання передових алгоритмів та людського контролю.
                Система PriceEx використовує штучний інтелект для автоматичного моніторингу цін на різних сайтах.
                Окрім цього, команда адміністраторів вручну перевіряє всі нові інтернет-магазини за 4 показниками коректності даних.</div>
                <a href="#" class="button button_fill">Спробувати безкоштовно</a>
            </div>
        </div>
    </div>
</section>