<section class="ideal">
    <div class="container">
        <div class="ideal__content">
            <form name="" method="post" class="ideal__form">
                <div class="ideal__form-info">
                    <h2>Підберіть ваш ідеальній тариф</h2>
                    <div class="ideal__group">
                        <div class="input-group">
                            <span class="input-label h6">Оберіть кількість товарів</span>
                            <input type="text">
                        </div>
                        <div class="input-group">
                            <span class="input-label h6">Оберіть кількість конкурентів</span>
                            <input type="text">
                        </div>
                    </div>
                    <div class="checkbox__group">
                        <div class="checkbox-group-label h6">Як часто ви хочете отримуваті звіт?</div>
                        <div class="checkbox-group-list">
                            <div class="custom-checkbox">
                                <input type="checkbox" name="" id="" class="default-checkbox">
                                <span class="h6">ПН</span>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" name="" id="" class="default-checkbox">
                                <span class="h6">ВТ</span>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" name="" id="" class="default-checkbox">
                                <span class="h6">СР</span>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" name="" id="" class="default-checkbox">
                                <span class="h6">ЧТ</span>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" name="" id="" class="default-checkbox">
                                <span class="h6">ПТ</span>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" name="" id="" class="default-checkbox">
                                <span class="h6">СБ</span>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" name="" id="" class="default-checkbox">
                                <span class="h6">ВС</span>
                            </div>
                        </div>
                    </div>
                    <div class="count-group">
                        <div class="count-label h6">Кількість разів на день:</div>
                        <div class="count-wrapper">
                            <input type="number" name="" id="count-period" value="1" class="count-period h5">
                            <button type="button" class="count-plus"><svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.59 8.20483L6 3.62484L1.41 8.20483L0 6.79484L6 0.794838L12 6.79484L10.59 8.20483Z" fill="#6854F7"/>
                                </svg>
                            </button>
                            <button type="button" class="count-minus"><svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.59 8.20483L6 3.62484L1.41 8.20483L0 6.79484L6 0.794838L12 6.79484L10.59 8.20483Z" fill="#6854F7"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="text-group">
                        <div class="text-wrap">
                            <span class="h5">Кількість перевірок в місяць</span>
                            <span class="h3">5143 перевірок/30 днів</span>
                        </div>
                        <div class="text-wrap">
                            <span class="h5">Вам підійде тариф</span>
                            <span class="h3">17к від 1490 грн</span>
                        </div>
                    </div>
                </div>
                <div class="ideal__form-img">
                    <img src="images/lupa.png" alt="">
                    <a href="#" class="button button_fill">Оформити підписку</a>
                </div>
            </form>
        </div>
    </div>
</section>