<main class="main">
    {{> blocks / header}}
    <div class="container">
        <div class="main__content">
            <div class="main__info">
                <h1 class="main__title"><div class="main__title_colored">Автоматизований</div>сервіс моніторингу цін конкурентів</h1>
                <img src="images/main_bg_mobile.png" alt="bg" class="main_bg_mobile">
                <ul class="main__list">
                    <li class="main__list-item h6">
                        <img src="images/diagram.svg" alt="diagram">
                        Відстежуйте ціни конкурентів на будь-які продукти
                    </li>
                    <li class="main__list-item h6">
                        <img src="images/settings.svg" alt="settings">
                        Встановлюйте автоматичне оновлення цін
                    </li>
                    <li class="main__list-item h6">
                        <img src="images/rocket.svg" alt="rocket">
                        Отримуйте миттєві сповіщення про зміни цін
                    </li>
                </ul>
                <a href="#" class="button button_fill">Спробувати безкоштовно</a>
            </div>
            <!--<div class="main__img">
                <img src="images/main_bg.png" alt="">
            </div>-->
        </div>
    </div>
</main>