<section class="reviews">
        <div class="reviews__content">
            <h2><span>Відгуки</span> наших користувачів</h2>
            <div class="reviews__slider">
                <div class="reviews__item">
                    <div class="reviews__item-text h5">З моменту початку використання цієї платформи я значно збільшив прибуток свого магазину. Можливість відстежувати ціни конкурентів та швидко реагувати на них дозволила мені завжди пропонувати найкращі ціни та залучати більше клієнтів. Я рекомендую цю платформу всім власникам магазинів!</div>
                    <div class="reviews__item-group">
                        <img src="images/avatar.png" alt="avatar">
                        <div class="reviews__item-info">
                            <div class="reviews__item-name h5">Hellen Jummy</div>
                            <div class="reviews__item-profession h6">Financial Counselor</div>
                        </div>
                    </div>
                </div>
                <div class="reviews__item">
                    <div class="reviews__item-text h5">З моменту початку використання цієї платформи я значно збільшив прибуток свого магазину. Можливість відстежувати ціни конкурентів та швидко реагувати на них дозволила мені завжди пропонувати найкращі ціни та залучати більше клієнтів. Я рекомендую цю платформу всім власникам магазинів!</div>
                    <div class="reviews__item-group">
                        <img src="images/avatar.png" alt="avatar">
                        <div class="reviews__item-info">
                            <div class="reviews__item-name h5">Hellen Jummy</div>
                            <div class="reviews__item-profession h6">Financial Counselor</div>
                        </div>
                    </div>
                </div>
                <div class="reviews__item">
                    <div class="reviews__item-text h5">З моменту початку використання цієї платформи я значно збільшив прибуток свого магазину. Можливість відстежувати ціни конкурентів та швидко реагувати на них дозволила мені завжди пропонувати найкращі ціни та залучати більше клієнтів. Я рекомендую цю платформу всім власникам магазинів!</div>
                    <div class="reviews__item-group">
                        <img src="images/avatar.png" alt="avatar">
                        <div class="reviews__item-info">
                            <div class="reviews__item-name h5">Hellen Jummy</div>
                            <div class="reviews__item-profession h6">Financial Counselor</div>
                        </div>
                    </div>
                </div>
                <div class="reviews__item">
                    <div class="reviews__item-text h5">З моменту початку використання цієї платформи я значно збільшив прибуток свого магазину. Можливість відстежувати ціни конкурентів та швидко реагувати на них дозволила мені завжди пропонувати найкращі ціни та залучати більше клієнтів. Я рекомендую цю платформу всім власникам магазинів!</div>
                    <div class="reviews__item-group">
                        <img src="images/avatar.png" alt="avatar">
                        <div class="reviews__item-info">
                            <div class="reviews__item-name h5">Hellen Jummy</div>
                            <div class="reviews__item-profession h6">Financial Counselor</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>