<section class="tariff">
    <div class="container">
        <div class="tariff__content">
            <div class="tariff__heading">
                <h2>Оберіть тарифний план</h2>
                <p class="h6">Оберіть період та вартість тарифного плану</p>
                <div class="tariff__options">
                    <span class="h5">На місяць</span>
                    <button type="button" class="tariff__options-select"></button>
                    <span class="h5">На рік</span>
                    <span class="text-small">Save 25%</span>
                </div>
            </div>
            <div class="tariff__items">
                <div class="tariff__item">
                    <div class="tariff__item-head">
                        <div class="tariff__item-price h2">$69</div>
                        <div class="tariff__item-price-time h6">/ місяць</div>
                    </div>
                    <div class="tariff__item-title h5">Тариф включає:</div>
                    <ul class="tariff__item-list">
                        <li class="include text-small">Кількість перевірок посилань 7000 шт</li>
                        <li class="include text-small">До 200 посилань в аккаунті</li>
                        <li class="include text-small">1 моніторинг товарів протягом дня</li>
                        <li class="include text-small">Підключення Telegram чи Viber </li>
                        <li class="include text-small">Технічна підтримка</li>
                        <li class="no-include text-small">API інтеграції</li>
                    </ul>
                    <a href="#" class="button">
                        Спробувати безкоштовно
                        <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 11L6 6L1 1" stroke="#6854F7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </div>
                <div class="tariff__item">
                    <div class="tariff__item-head">
                        <div class="tariff__item-price h2">$69</div>
                        <div class="tariff__item-price-time h6">/ місяць</div>
                    </div>
                    <div class="tariff__item-title h5">Тариф включає:</div>
                    <ul class="tariff__item-list">
                        <li class="include text-small">Кількість перевірок посилань 7000 шт</li>
                        <li class="include text-small">До 200 посилань в аккаунті</li>
                        <li class="include text-small">1 моніторинг товарів протягом дня</li>
                        <li class="include text-small">Підключення Telegram чи Viber </li>
                        <li class="include text-small">Технічна підтримка</li>
                        <li class="no-include text-small">API інтеграції</li>
                    </ul>
                    <a href="#" class="button">
                        Спробувати безкоштовно
                        <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 11L6 6L1 1" stroke="#6854F7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </div>
                <div class="tariff__item">
                    <div class="tariff__item-head">
                        <div class="tariff__item-price h2">$69</div>
                        <div class="tariff__item-price-time h6">/ місяць</div>
                    </div>
                    <div class="tariff__item-title h5">Тариф включає:</div>
                    <ul class="tariff__item-list">
                        <li class="include text-small">Кількість перевірок посилань 7000 шт</li>
                        <li class="include text-small">До 200 посилань в аккаунті</li>
                        <li class="include text-small">1 моніторинг товарів протягом дня</li>
                        <li class="include text-small">Підключення Telegram чи Viber </li>
                        <li class="include text-small">Технічна підтримка</li>
                        <li class="no-include text-small">API інтеграції</li>
                    </ul>
                    <a href="#" class="button">
                        Спробувати безкоштовно
                        <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 11L6 6L1 1" stroke="#6854F7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </div>
                <div class="tariff__item">
                    <div class="tariff__item-head">
                        <div class="tariff__item-price h2">$69</div>
                        <div class="tariff__item-price-time h6">/ місяць</div>
                    </div>
                    <div class="tariff__item-title h5">Тариф включає:</div>
                    <ul class="tariff__item-list">
                        <li class="include text-small">Кількість перевірок посилань 7000 шт</li>
                        <li class="include text-small">До 200 посилань в аккаунті</li>
                        <li class="include text-small">1 моніторинг товарів протягом дня</li>
                        <li class="include text-small">Підключення Telegram чи Viber </li>
                        <li class="include text-small">Технічна підтримка</li>
                        <li class="no-include text-small">API інтеграції</li>
                    </ul>
                    <a href="#" class="button">
                        Спробувати безкоштовно
                        <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 11L6 6L1 1" stroke="#6854F7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>