<div class="usefull">
    <div class="container">
        <div class="usefull__content">
            <div class="usefull__info">
                <h2>Кому буде корисним PriceRadar?</h2>
                <div class="usefull__img usefull__img_mobile">
                    <img src="images/usefull_img.png" alt="">
                </div>
                <ul class="usefull__list">
                    <li class="usefull__item h4">
                        Власників бізнесу у роздрібній торгівлі: Збільшуйте прибуток та максимізуйте конкурентоспроможність завдяки вдалій ціновій стратегії.
                    </li>
                    <li class="usefull__item h4">
                        Директорів із постачання: Оптимізуйте витрати та забезпечте найкращі ціни на товари
                    </li>
                    <li class="usefull__item h4">
                        Менеджерам із закупівлі та продажу: Приймайте обґрунтовані рішення щодо закупівлі та продажу товарів.
                    </li>
                    <li class="usefull__item h4">
                        Маркетологів магазинів: Розробляйте ефективні цінові стратегії та промоції.
                    </li>
                </ul>
            </div>
            <div class="usefull__img">
                <img src="images/usefull_img.png" alt="">
            </div>
        </div>
    </div>
</div>