html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	font-family: "Raleway", sans-serif;
	background-color: #0C141D;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	width: 100%;
}
a {
	text-decoration: none;
	text-transform: initial;
	color: unset;
}
button {
	border: none;
	outline: none;
	background: none;
}
.button {
	border: none;
	font-size: 20px;
	line-height: 24px;
	font-weight: 500;
	padding: 16px 20px;
	width: max-content;
	border-radius: 8px;
	color: #fff;
	border: 1px solid #F4F6F6;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 13px;
	background: none;
	@include max-xxl {
		font-size: 18px;
		line-height: 22px;
		padding: 13px 15px;
	}
	@include max-xl{
		font-size: 16px;
		line-height: 20px;
		padding: 10px;
	}
	
	@include max-md {
		font-size: 16px;
		line-height: 20px;
		column-gap: 12px;
		padding: 11px 0;
		width: 100%;
	}
}


.button_fill {
	background-color: #6854F7;
	border: 1px solid #6854F7;
}
.group {
	display: flex;
	gap: 20px;
	@include max-xl{
		column-gap: 15px;
	}
	@include max-lg{
		flex-direction: column;
		width: 100%;
	}
	
}
.container {
	max-width: 1920px;
	margin: auto;
	padding: 0 100px;
	@include max-xxl {
		padding: 0 30px;
	}
	@include max-md {
		padding: 0 20px;
	}
}
.mobile {
    display: none;
}
@media (max-width: 768px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}
.owl-stage-outer {
	overflow: hidden;
}
.owl-stage {
	display: flex;
}
.owl-nav {
	display: none;
}
.owl-dots {
	display: none;
}
::-webkit-scrollbar {
	width: 0px;
	background: rgba(255, 255, 255, 0);
}
h1 {
	font-size: 64px;
	line-height: 64px;
	font-weight: 700;
	@include max-xxl{
		font-size: 48px;
		line-height: 54px;
	}
	@include max-md{
		font-size: 28px;
		line-height: 25px;
	}
	
}
h2, .h2 {
	font-size: 48px;
	line-height: 64px;
	font-weight: 700;
	@include max-xxl{
		font-size: 36px;
		line-height: 42px;
	}
	@include max-md{
		font-size: 24px;
		line-height: 30px;
	}
	
}
h3, .h3 {
	font-size: 32px;
	line-height: 29px;
	font-weight: 700;
	@include max-xxl{
		font-size: 24px;
		line-height: 30px;
	}
	@include max-md{
		font-size: 16px;
		line-height: 21px;
	}
	
}
h4, .h4 {
	font-size: 24px;
	line-height: 24px;
	font-weight: 500;
	@include max-md{
		font-size: 18px;
		line-height: 24px;
	}
	@include max-md{
		font-size: 14px;
		line-height: 18px;
	}
	
}
h5, .h5 {
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
	@include max-md{
		font-size: 16px;
		line-height: 20px;
	}
	@include max-md{
		font-size: 14px;
		line-height: 20px;
	}
	
}
h6, .h6 {
	font-size: 20px;
	line-height: 24px;
	font-weight: 300;
	@include max-xxl{
		font-size: 16px;
		line-height: 20px;
	}
	@include max-md{
		font-size: 14px;
		line-height: 20px;
	}
	
}
.text-small {
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	@include max-md{
		font-size: 13px;
		line-height: 20px;
	}
	
}
.fw-300 {
	font-weight: 300;
}
.fw-400 {
	font-weight: 400;
}
.fw-500 {
	font-weight: 500;
}
.fw-600 {
	font-weight: 600;
}
.fw-700 {
	font-weight: 700;
}
.fw-800 {
	font-weight: 800;
}
.fw-900 {
	font-weight: 900;
}
select {
	-moz-appearance: none;
	-webkit-appearance: none;
}
select::-ms-expand {
	display: none;
}