.ideal {
    background-color: #fff;
    padding: 96px 0 0;
    @include max-md{
        padding: 48px 0 0;
    }
    
    &__content {
        background-color: #436DFF1A;
        border-radius: 20px;
        padding: 30px 45px;
        @include max-md{
            padding: 20px 20px 32px;
        }
        
    }
    &__form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 30px;
        @include max-lg{
            flex-direction: column;
            row-gap: 30px;
        }
        
        &-info {
            max-width: 50%;
            width: 100%;
            @include max-xxxl{
                max-width: 60%;
            }
            @include max-xl{
                max-width: 70%;
            }
            @include max-lg{
                max-width: 100%;
            }
            
        }
        &-img {
            background: #449AFF1A;
            max-width: 667px;
            max-height: 445px;
            width: 100%;
            padding: 0 38px 30px;
            border-radius: 17px;
            @include max-xxxl{
                max-width: 457px;
            }
            @include max-xl{
                max-width: 357px;
            }
            @include max-lg{
                max-width: 100%;
            }
            @include max-md{
                padding: 0;
            }
            
            & img {
                max-width: 411px;
                text-align: center;
                display: block;
                margin: -50px auto;
                @include max-md{
                    max-width: 250px;
                }
                
            }
            & a {
                width: 100%;
                max-width: 100%;
                z-index: 5;
                position: relative;
                @include max-md{
                    margin-top: 30px;
                }
                
            }
        }
    }
    &__group {
        display: flex;
        column-gap: 40px;
        margin-top: 24px;
        @include max-xl{
            column-gap: 25px;
            flex-direction: column;
            row-gap: 15px;
        }
        @include max-md{
            margin-top: 12px;
            row-gap: 10px;
        }
        
    }
    & .input-group {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 6px;
        & input {
            width: 100%;
            height: 56px;
            border: none;
            outline: none;
            border-radius: 8px;
            @include max-xl{
                height: 40px;
            }
            @include max-md{
                height: 46px;
            }
            
        }
    }
    & .input-label {
        color: #8E8E8E;
    }
    & .checkbox__group {
        margin-top: 30px;
        @include max-md{
            margin-top: 15px;
        }
        
    }
    & .checkbox-group-label {
        color: #8E8E8E;
    }
    & .checkbox-group-list {
        margin-top: 16px;
        display: flex;
        column-gap: 16px;
        @include max-md{
            column-gap: 9px;
        }
        
        & span {
            border: 1px solid #6854F7;
            border-radius: 6px;
            color: #6854F7;
            padding: 8px;
            @include max-md{
                padding: 7px;
            }
            
        }
    }
    & .custom-checkbox {
        position: relative;
        cursor: pointer;
    }
    & .default-checkbox {
        position: absolute;
        margin: 0;
        padding: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
        & + span {
            @include max-md{
                font-size: 12px;
                line-height: 16px;
            }
        }
        &:checked + span {
            color: #fff;
            background-color: #6854F7;
            
            
        }
    }
    & .count-group {
        margin-top: 24px;
        display: flex;
        align-items: center;
        column-gap: 15px;
    }
    & .count-label {
        color: #000000;
    }
    & .count-wrapper {
        position: relative;
        padding: 11px 57px 11px 20px;
        width: 100%;
        max-width: 86px;
        background-color: #fff;
        border-radius: 8px;
        @include max-xl{
            padding: 7px 57px 7px 20px;
        }
        @include max-md{
            padding: 8px 37px 8px 12px;
            max-width: 65px;
        }
        
        & input {
            color: #6854F7;
            font-weight: 500;
            border: none;
            outline: none;
            width: 100%;
        }
        & button {
            position: absolute;
            right: 10px;
        }
        & .count-plus {
            top: 5px;
            @include max-md{
                top: 2px;
            }
            
        }
        & .count-minus {
            bottom: 5px;
            transform: rotate(180deg);
            @include max-md{
                bottom: 2px;
            }
            
        }
    }
    & .text-group {
        margin-top: 24px;
        padding: 24px 0;
        border-top: 1px solid #fff;
        display: flex;
        column-gap: 75px;
        @include max-md{
            margin-top: 12px;
            padding: 12px 0;
        }
        @include max-sm{
            flex-direction: column;
            row-gap: 12px;
        }
        
    }
    & .text-wrap {
        display: flex;
        flex-direction: column;
        row-gap: 6px;
        & .h5 {
            font-weight: 500;
        }
        & h3 {
            font-weight: 500;
        }
    }
}
